.left-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-container .title-container {
  width: 100%;
  padding-top: var(--space-12);
  padding-bottom: var(--space-12);
}

.overview-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-24);
}

.legend-container {
  display: flex;
  align-items: center;
  column-gap: var(--space-24);
}

.legend-wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--space-12);
}

.color-legend {
  height: 16px;
  width: 16px;
  border-radius: 150px;
}

.legend-wrapper:nth-child(1) .color-legend {
  background: var(--color-red-300);
}

.legend-wrapper:nth-child(2) .color-legend {
  background: var(--color-red-100);
}

.legend-wrapper:nth-child(3) .color-legend {
  background: #82c792;
}

.calendar-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: var(--space-24);
}

.calendar-container::-webkit-scrollbar {
  display: none;
}