.login-signup-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  background: rgb(198, 219, 255, 0.5);
  backdrop-filter: var(--blur-10);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.show-login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: show .3s ease-in-out forwards;
}

@keyframes show {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.login-wrapper,
.signup-wrapper {
  position: absolute;
  min-width: 450px;
  display: none;
  background: var(--bg-gradient-blue-darker);
  padding: var(--space-32);
  border-radius: var(--rounded-20);
  row-gap: var(--space-24);
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(.8);
}

.show-login-wrapper,
.show-signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: showPopup 1.2s ease-in-out forwards;
}

@keyframes showPopup {
  to {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: var(--txt-color-BW-50);
}

.icon-wrapper {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue-400);
  border-radius: 150px;
  cursor: pointer;
  transition: var(--transition-02s);
}

.icon-wrapper:hover {
  transform: scale(1.1);
}

.fa-xmark {
  font-size: var(--font-size-20);
}

.login-form,
.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--space-24); 
}

.signup-form input,
.login-form input {
  height: 40px;
  outline: none;
  width: 100%;
  font-size: var(--font-size-16);
  border: 1px solid var(--color-blue-400);
  background: var(--color-BW-50);
  color: var(--txt-color-blue-400);
  border-radius: var(--rounded-10);
  padding: var(--space-08) var(--space-16);
}

.signup-form input::placeholder,
.login-form input::placeholder {
  color: var(--txt-color-blue-400);
}

.profil-container {
  position: absolute;
  display: none;
  background: var(--color-blue-400);
  border-top: 1px solid var(--color-BW-50);
  border-left: 1px solid var(--color-BW-50);
  border-radius: var(--rounded-05);
  top: 75px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  padding: var(--space-12) var(--space-24);
  row-gap: var(--space-12);
}

.show-profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: show .3s ease-in-out forwards;
}

.link {
  transition: var(--transition-02s);
}

.link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logout-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-12);
}

.logout-container i {
  color: var(--color-blue-700);
}

/* input:-internal-autofill-selected  {
  background-color: transparent !important;
  appearance:none !important;
  color:red !important;
} */
